*{
	margin:0px;
	padding:0px;
}

body{
	background-color: #4D4D4D;
}

td {
	border: 2px solid #8CDCDA;
	width: 50px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	font-family: "Comic Sans MS" , cursive , sans-serif;
	font-size: 36px;
	cursor: pointer;
}

tr:first-child td{
	border-top: 0;
}

tr:last-child td{
	border-bottom: 0;
}

tr td:first-child{
	border-left: 0;
}

tr td:last-child{
	border-right: 0;
}

table{
	border-collapse: collapse;
	position: absolute;
	left:31%;
	top:15%;
}

.player-icon{
	border:1px solid white;
	border-radius: 50%;
	width:16%;
	height:190px;
	position: absolute;
}

#p1-icon{
	top:20%;
	left:7%;
}

#p2-icon{
	top:20%;
	right:7%;
}

#p1-img{
	position: absolute;
	width:100%;
	height: 100%;
	top:-4px;
	left:-5px;
	border-radius: 50%;
}

#p2-img{
	position: absolute;
	width:100%;
	height: 100%;
	top:-4px;
	right:-5px;
	border-radius: 50%;
}

#p1-border-img{
	position: absolute;
	top:-37px;
	left:-43px;
	width:135%;
	height: 135%;
}

#p2-border-img{
	position: absolute;
	top:-37px;
	right:-43px;
	width:135%;
	height: 135%;
}


.points-div label{
	position: absolute;
	border:2px solid  #143d59;
	border-top: 0;
	background-color: #143d59;
	color: #F4B41A;
	width:13%;
	height:6%;
	text-align: center;
	vertical-align: middle;
	font-family: Agency FB;
	font-size:23pt;
}

#p1-points{
	top:86%;
	left:8.5%;
}

#p2-points{
	top:86%;
	right:8.5%;
}

.player-info{
	border:3px solid #143d59;
	background-color: #272727;
	width:18%;
	height: 200px;
	position: absolute;
	border-radius: 15px;
	z-index: -1;
}

#p1-info{
	top:55%;
	left:6%;
}

#p2-info{
	top:55%;
	right:6%;
}

.top-hr{
	background-color: #3c3432;
	width:95%;
	height:1px;
	position: absolute;
	top:70px;
	left:5px;
	opacity: 0.2;
}

.bot-hr{
	background-color: #3c3432;
	width:95%;
	height:1px;
	position: absolute;
	top:130px;
	left:5px;
	opacity: 0.2;
}


#p1-fire-bottom{
	position: absolute;
	width:20%;
	height:10%;
	top:595px;
	left:71px;
	transform: rotate(180deg);
}

#p1-fire-right{
	position: absolute;
	width:5%;
	height:10%;
	top:552px;
	left:280px;
	transform: rotate(90deg);
}

#p1-fire-left{
	position: absolute;
	width:4.5%;
	height:10%;
	top:552px;
	left:63px;
	transform: rotate(-90deg);
}

#p2-fire-bottom{
	position: absolute;
	width:20%;
	height:10%;
	top:555px;
	right:71px;
	transform: rotate(180deg);
}

#p2-fire-right{
	position: absolute;
	width:5%;
	height:10%;
	top:512px;
	right:285px;
	transform: rotate(-90deg);
}

#p2-fire-left{
	position: absolute;
	width:4.5%;
	height:10%;
	top:512px;
	right:63px;
	transform: rotate(90deg);
}

.turn-text{
	font-size:31pt;
	color:#b2fee0;
	margin:20px 0 0 2px;
	width:98%;
	font-family: Agency FB;
	height: 60px;
	position: relative;
	background: linear-gradient(0deg,#000, #272727);
}

#p1-turn{
	opacity: 0.7;
	margin-left:45px;
}

#p2-turn{
	opacity: 0.7;
	margin-left:45px;
}

.moving-glow:before , .moving-glow:after{
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg , #fb0094 , #0000ff , #00ff00 , #ffff00 , #ff0000 , #fb0094 , #0000ff,
		#00ff00 , #ffff00 , #ff0000);
	background-size: 400%;
	width:calc(100% + 5px);
	height: calc(100% + 5px);
	z-index: -1;
	animation: anim-moving-glow	20s linear infinite;
}

@keyframes anim-moving-glow{
	0%{
		background-position: 0 0;
	}

	50%{
		background-position: 400% 0;
	}

	100%{
		background-position: 0 0;
	}
}

.moving-glow:after{
	filter: blur(30px);
}

.plus-points-text{
	font-size:36pt;
	text-align: center;
	vertical-align: middle;
	font-family: Agency FB;
	color: rgba(255, 255, 255, 0.2);
	opacity: 0.05;

	background: url(./imgs/fir-burn.jpg) repeat-x;
	-webkit-background-clip: text;
	background-size: contain;
	animation: fire 15s linear infinite;
}

@keyframes fire{
	0%{
		background-position: left 0 top 5px;
	}
	50%{
		background-position: left 130px top -5px;
	}
	100%{
		background-position: left 250px top 0px;
	}
}
.break-div{
	border-radius: 20px;
	width:250px;
	height:200px;
	position: absolute;
	top:257px;
	left:560px;
	background-color: #807d6e;
	opacity: 0.7;
}

#break-txt{
	font-size:136pt;
	font-family: Agency FB;
	color: #fed700;
	text-align: center;
}

.name-text{
	font-size:28pt;
	font-family: Agency FB;
}

#p1-name{
	margin-top:5px;
	text-align: center;
	color:#B1D877;
}

#p1-name span{
	margin:0;
	padding:0;
}

#p2-name{
	margin-top:5px;
	text-align: center;
	color:#F16A70;
}

#p2-name span{
	margin:0;
	padding:0;
}

.nav-btns{
	position: absolute;	
	right: 5px;
	top:5px;
}

.nav-btns ul{
	position: relative;
	display: flex;
}

.nav-btns ul li{
	list-style: none;
}

.nav-btns ul li label{
	position: relative;
}

.nav-btns ul li label .icon{
	position: relative;
	width:60px;
	height: 60px;
	background: #333333;
	color:#555;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin:0 10px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: -1px -1px 4px rgba(255,255,255,0.05),
				4px 4px 6px rgba(0,0,0,0.2),
				inset -1px -1px 4px rgba(255,255,255,0.05),
				inset 1px 1px 1px rgba(0,0,0,0.1);
}

.nav-btns ul li label .icon:before{
	content: '';
	position: absolute;
	top:2px;
	left:2px;
	width:calc(100% - 5px);
	height: calc(50% - 2px);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background: rgba(255,255,255,0.05);
}

.nav-btns ul li label:hover .icon{
	box-shadow: inset 0px 0px 2px rgba(255,255,255,0.05),
				inset 4px 4px 6px rgba(0,0,0,0.2);
}

.nav-btns ul li label:hover .icon .fa{
	color:#00f3ff;
	text-shadow: 0 0 15px #00f3ff,
				 0 0 25px #00f3ff;
	animation: sideBtnEffects 5s linear infinite;
}

@keyframes sideBtnEffects{
	0%{
		filter: hue-rotate(0deg);
	}
	100%{
		filter: hue-rotate(360deg);
	}
}